@model ShopNuocHoa.Models.EF.Subscribe
<section id="subscribe" class="container-grid padding-large position-relative overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="subscribe-content bg-dark d-flex flex-wrap justify-content-center align-items-center padding-medium">
                <div class="col-md-6 col-sm-12">
                    <div class="display-header pe-3">
                        <h2 class="display-7 text-uppercase text-light">Subscribe Us Now</h2>
                        <p>Get latest news, updates and deals directly mailed to your inbox.</p>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12">
                    <div class="subscription-form validate">
                         @*Sử dụng Ajax Form để không load lại trang (unobtrusive)*@
                        @using (Ajax.BeginForm("Subscribe", "Home", new AjaxOptions
                        {
                            OnBegin = "OnBeginSub",
                            OnSuccess = "OnSuccessSub",
                            OnFailure = "OnFailureSub"
                        }))
                        {
                            @Html.AntiForgeryToken()
                            <script>
                                function OnBeginSub() {

                                }
                                function OnSuccessSub(rs) {
                                    if (rs.Success) {
                                        swal("success", "Đăng ký thành công", "success");

                                    }
                                }
                                function OnFailureSub(rs) {

                                }
                            </script>
                            <div class="input-group flex-wrap">
                                @*<input class="form-control btn-rounded-none" type="email" name="EMAIL"  required="">*@
                                @Html.TextBoxFor(x => x.Email, new { @placeholder = "Your email address here", @class = "form-control btn-rounded-none" })
                                <button class="btn btn-medium btn-primary text-uppercase btn-rounded-none" type="submit" name="subscribe">Subscribe</button>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>